<html>
  <head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Cohort Performance</h1>
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th></th>
	    <th></th>
	    <th></th>
	    {% for d in dates %}
	    <th>{{d}}</th>
	    {% endfor %}
	  </tr>
	</thead>
	<tbody>
	  {% for d in data %}
	  <tr>
	    <td><a href="https://raftaartech.in/#/app/profile/{{d.profile}}" target="_blank">{{d.profile}}</a></td>
	    <td>{{d.from_area}}</td>
	    <td>{{d.to_area}}</td>
	    {% for e in d.data %}
	    <td>{{e}}</td>
	    {% endfor %}
	  </tr>
	  {% endfor %}

	</tbody>

      </table>
    </div>
  </body>
</html>
