
<div class="monospace">
  {{responses["todays-trips"].metadata}}
</pre>
<table class="table table-striped monospace">
{% for d in responses["todays-trips"].data %}
<tr>
  <td>{{d.id}}</td>
  <td>{{d.code}}</td>
  <td>{{d.route}}</td>
  <td>{{d.licence_number}}</td>
  <td>{{d.category}}</td>
  <td>{{d.tod}}</td>
  <td>{{d.reservations}}</td>
  <td>{{d.capacity}}</td>
</tr>
{%endfor %}
</table>
